 * {
    font-family: FiraCode Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}


#workspaces {
  background: #11111B;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}

#workspaces button {
  background: transparent;
  color: #d3869b;
  border-radius: 10px;
  margin: 0 3px;
  padding: 4px 10px;
  font-weight: bold;
  box-shadow: none;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.05);
  color: #B4BEFE;
}
#workspaces button:not(.active):not(.empty) {
  background-color: rgba(255, 255, 255, 0.02);
  color: #A6E3A1;
}


#clock {
  color: #d3869b;
  background: #11111B;

  margin-right: 10px;
  margin-top: 10px;
  border-radius: 15px;

  padding: 20px;
  padding-top: 4px;
  padding-bottom: 2px;

  font-weight: bolder;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}

#tray {
  background: #11111B;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 16px; /* ajusta si se ve muy estrecho o muy ancho */
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}
#custom-notification,
#pulseaudio {
    color:  #d3869b;
    background: #11111B;

    margin-right: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;

    padding: 20px;
    padding-top: 4px;
    padding-bottom: 2px;

    font-weight: bolder;
    margin-top: 10px;
}

#custom-power 
{
    color:  #d3869b;
    background: #11111B;

    margin-right: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;

    padding: 20px;
    padding-top: 4px;
    padding-bottom: 2px;

    font-weight: bolder;
    margin-top: 10px;
}
#custom-power:hover {
  color: #ff0048;
}


